# Generic DCPU-16 Project
# Created on {current-date}

# You can copy everything on the following line after "build=" into a command line and execute it to build this project without the Halibut tools
build=Organic.exe base.dasm bin/{project-fname}.bin --json bin/{project-fname}.json --listing bin/{project-fname}.lst

name={project-name}
error-regex=error-regex=Error (?<file>[A-Za-z0-9_ ./\-]+) \(line (?<line>[0-9]+)\): (?<error>.*)
debug-exe=Lettuce.exe bin/{project-fname}.bin --server --nogui --port 46852
debug=46852