# Boilerplate DCPU-16 Project
# Created on {current-date}

name={project-name}
build=Organic.exe base.dasm bin/{project-name}.bin --json bin/{project-name}.json --listing bin/{project-name}.lst --include inc/
error-regex=Error (?<file>[A-Za-z0-9_ ./\-]+) \(line (?<line>[0-9]+)\): (?<error>.*)
debug-exe=Lettuce.exe bin/{project-name}.bin --server --nogui --port 46852
debug=46852